.navbarMenu {
  height: calc(100vh - 50px);
  background-color: var(--color-tree);
  transition: all 1s ease;
  width: 30vw;
  position: fixed;
  right: -30vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 4;
}

.menuItem {
  color: var(--text-color-one);
  font-size: 1.5rem;
  font-weight: 600;
}

.showMenu {
  right: 0;
}

@media screen and (max-width: 768px) {
  .navbarMenu {
    width: 100vw;
    right: -100vw;
  }

  .showMenu {
    right: 0;
  }
}
