.portfolio {
  background-color: var(--color-two);
  min-height: calc(100vh - 50px);
  text-align: center;
}

.wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.showAll {
  margin-bottom: 10px;
  border: 1px solid var(--text-color-two);
  background-color: var(--color-two);
  color: var(--text-color-two);
  transition: all 0.5s ease;
}

.showAll:hover {
  border: 1px solid var(--text-color-one);
  color: var(--text-color-one);
}
