.navbar {
  background-color: tomato;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.textLogo {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.burgerButton {
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 1s ease;
}

.line {
  height: 3px;
  background-color: white;
}

.rotate {
  transform: rotate(90deg);
}
